In [1]:
import pandas as pd
import numpy as np

In [2]:
match_df = pd.read_csv('match_results.csv')
match_df.sample(10)

,Unnamed: 0,Team 1,Team 2,Winner,Margin,Ground,Match Date,Scorecard
24,24,Afghanistan,Ireland,abandoned,NaN,Melbourne,"Oct 28, 2022",T20I # 1849a
12,12,Australia,New Zealand,New Zealand,89 runs,Sydney,"Oct 22, 2022",T20I # 1839
29,29,India,South Africa,South Africa,5 wickets,Perth,"Oct 30, 2022",T20I # 1853
28,28,Netherlands,Pakistan,Pakistan,6 wickets,Perth,"Oct 30, 2022",T20I # 1852
18,18,Australia,Sri Lanka,Australia,7 wickets,Perth,"Oct 25, 2022",T20I # 1845
4,4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830
31,31,Afghanistan,Sri Lanka,Sri Lanka,6 wickets,Brisbane,"Nov 1, 2022",T20I # 1856
0,0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
42,42,New Zealand,Pakistan,Pakistan,7 wickets,Sydney,"Nov 9, 2022",T20I # 1877
3,3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828

In [3]:
match_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  45 non-null     int64
 1   Team 1      45 non-null     object
 2   Team 2      45 non-null     object
 3   Winner      45 non-null     object
 4   Margin      41 non-null     object
 5   Ground      45 non-null     object
 6   Match Date  45 non-null     object
 7   Scorecard   45 non-null     object
dtypes: int64(1), object(7)
memory usage: 2.9+ KB

In [4]:
match_df.isnull().sum()

Unnamed: 0    0
Team 1        0
Team 2        0
Winner        0
Margin        4
Ground        0
Match Date    0
Scorecard     0
dtype: int64

In [5]:
match_df[match_df['Margin'].isnull()]

,Unnamed: 0,Team 1,Team 2,Winner,Margin,Ground,Match Date,Scorecard
17,17,South Africa,Zimbabwe,no result,NaN,Hobart,"Oct 24, 2022",T20I # 1844
20,20,Afghanistan,New Zealand,abandoned,NaN,Melbourne,"Oct 26, 2022",T20I # 1846a
24,24,Afghanistan,Ireland,abandoned,NaN,Melbourne,"Oct 28, 2022",T20I # 1849a
25,25,Australia,England,abandoned,NaN,Melbourne,"Oct 28, 2022",T20I # 1849b

In [6]:
match_df[match_df.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, Team 1, Team 2, Winner, Margin, Ground, Match Date, Scorecard]
Index: []

In [7]:
match_df.drop(columns=['Unnamed: 0'], inplace=True)

In [8]:
match_df['Ground'].unique()

array(['Geelong', 'Hobart', 'Sydney', 'Perth', 'Melbourne', 'Brisbane',
       'Adelaide'], dtype=object)

In [9]:
bating_df = pd.read_csv('batting_summary.csv')

In [10]:
bating_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1568 entries, 0 to 1567
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    1568 non-null   int64
 1   match         1568 non-null   object
 2   team_innings  1568 non-null   object
 3   batting_pos   1568 non-null   int64
 4   BATTING       1014 non-null   object
 5   Unnamed: 1    1013 non-null   object
 6   R             1014 non-null   object
 7   B             846 non-null    object
 8   M             846 non-null    object
 9   4s            846 non-null    object
 10  6s            846 non-null    object
 11  SR            846 non-null    object
 12  Unnamed: 8    147 non-null    object
 13  Unnamed: 9    0 non-null      float64
 14  match_id      1568 non-null   object
dtypes: float64(1), int64(2), object(12)
memory usage: 183.9+ KB

In [11]:
bating_df.head(8)

,Unnamed: 0,match,team_innings,batting_pos,BATTING,Unnamed: 1,R,B,M,4s,6s,SR,Unnamed: 8,Unnamed: 9,match_id
0,0,Namibia VS Sri Lanka,Namibia,0,Michael van Lingen,c Pramod Madushan b Chameera,3,6,7,0,0,50.00,NaN,NaN,T20I # 1823
1,1,Namibia VS Sri Lanka,Namibia,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T20I # 1823
2,2,Namibia VS Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,15,1,0,100.00,NaN,NaN,T20I # 1823
3,3,Namibia VS Sri Lanka,Namibia,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T20I # 1823
4,4,Namibia VS Sri Lanka,Namibia,4,Jan Nicol Loftie-Eaton,c †Mendis b Karunaratne,20,12,18,1,2,166.66,NaN,NaN,T20I # 1823
5,5,Namibia VS Sri Lanka,Namibia,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T20I # 1823
6,6,Namibia VS Sri Lanka,Namibia,6,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,49,2,0,108.33,NaN,NaN,T20I # 1823
7,7,Namibia VS Sri Lanka,Namibia,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T20I # 1823

In [12]:
bating_df.sample(20)

,Unnamed: 0,match,team_innings,batting_pos,BATTING,Unnamed: 1,R,B,M,4s,6s,SR,Unnamed: 8,Unnamed: 9,match_id
1425,1425,Bangladesh VS Pakistan,Bangladesh,21,"Fall of wickets: 1-21 (Litton Das, 2.5 ov), 2-...","Fall of wickets: 1-21 (Litton Das, 2.5 ov), 2-...","Fall of wickets: 1-21 (Litton Das, 2.5 ov), 2-...","Fall of wickets: 1-21 (Litton Das, 2.5 ov), 2-...","Fall of wickets: 1-21 (Litton Das, 2.5 ov), 2-...","Fall of wickets: 1-21 (Litton Das, 2.5 ov), 2-...","Fall of wickets: 1-21 (Litton Das, 2.5 ov), 2-...","Fall of wickets: 1-21 (Litton Das, 2.5 ov), 2-...","Fall of wickets: 1-21 (Litton Das, 2.5 ov), 2-...",NaN,T20I # 1872
242,242,Sri Lanka VS United Arab Emirates,United Arab Emirates,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T20I # 1832
484,484,New Zealand VS Australia,Australia,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T20I # 1839
468,468,New Zealand VS Australia,Australia,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T20I # 1839
986,986,India VS South Africa,India,12,Dinesh Karthik †,c Rossouw b Parnell,6,15,33,0,0,40.00,NaN,NaN,T20I # 1853
465,465,New Zealand VS Australia,Australia,0,David Warner,b Southee,5,6,7,1,0,83.33,NaN,NaN,T20I # 1839
1,1,Namibia VS Sri Lanka,Namibia,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T20I # 1823
827,827,Zimbabwe VS Pakistan,Zimbabwe,19,TOTAL,20 Ov (RR: 6.50),130/8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T20I # 1849
1174,1174,India VS Bangladesh,India,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T20I # 1860
1564,1564,Pakistan VS England,England,12,Extras,"(lb 1, w 8)",9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T20I # 1879
1235,1235,Pakistan VS South Africa,South Africa,12,Wayne Parnell,lbw b Mohammad Wasim,3,4,9,0,0,75.00,NaN,NaN,T20I # 1861
1064,1064,Afghanistan VS Sri Lanka,Afghanistan,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T20I # 1856
1177,1177,India VS Bangladesh,India,13,Ravichandran Ashwin,not out,13,6,9,1,1,216.66,NaN,NaN,T20I # 1860
338,338,Sri Lanka VS Netherlands,Netherlands,0,Max O'Dowd,not out,71,53,99,6,3,133.96,NaN,NaN,T20I # 1835
627,627,Bangladesh VS Netherlands,Netherlands,6,Colin Ackermann,c Mosaddek Hossain b Taskin Ahmed,62,48,77,6,2,129.16,NaN,NaN,T20I # 1843
1513,1513,India VS England,India,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T20I # 1878
422,422,Scotland VS Zimbabwe,Scotland,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T20I # 1838
614,614,Bangladesh VS Netherlands,Bangladesh,15,Taskin Ahmed,c van Beek b Klaassen,0,1,3,0,0,0.00,NaN,NaN,T20I # 1843
1247,1247,New Zealand VS Ireland,New Zealand,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T20I # 1862
423,423,Scotland VS Zimbabwe,Scotland,4,Matthew Cross †,c Madhevere b Ngarava,1,7,15,0,0,14.28,NaN,NaN,T20I # 1838

In [13]:
bating_df.drop(columns='Unnamed: 0', inplace=True)

In [14]:
bating_df['BATTING'].unique()

array(['Michael van Lingen', nan, 'Divan la Cock',
       'Jan Nicol Loftie-Eaton', 'Stephan Baard',
       'Gerhard Erasmus\xa0(c)', 'Jan Frylinck', 'David Wiese', 'JJ Smit',
       'Extras', 'TOTAL',
       'Did not bat: Zane Green\xa0†,\xa0Bernard Scholtz,\xa0Ben Shikongo',
       'Fall of wickets: 1-6 (Michael van Lingen, 1.2 ov), 2-16 (Divan la Cock, 2.6 ov), 3-35 (Jan Nicol Loftie-Eaton, 4.5 ov), 4-76 (Gerhard Erasmus, 11.5 ov), 5-91 (Stephan Baard, 13.6 ov), 6-93 (David Wiese, 14.2 ov), 7-163 (Jan Frylinck, 19.6 ov)',
       'Pathum Nissanka', 'Kusal Mendis\xa0†', 'Dhananjaya de Silva',
       'Danushka Gunathilaka', 'Bhanuka Rajapaksa',
       'Dasun Shanaka\xa0(c)', 'Wanindu Hasaranga de Silva',
       'Chamika Karunaratne', 'Pramod Madushan', 'Dushmantha Chameera',
       'Maheesh Theekshana',
       'Fall of wickets: 1-12 (Kusal Mendis, 1.4 ov), 2-21 (Pathum Nissanka, 3.2 ov), 3-21 (Danushka Gunathilaka, 3.3 ov), 4-40 (Dhananjaya de Silva, 6.3 ov), 5-74 (Bhanuka Rajapaksa, 10.3 ov), 6-80 (Wanindu Hasaranga de Silva, 12.3 ov), 7-88 (Dasun Shanaka, 13.6 ov), 8-88 (Pramod Madushan, 14.2 ov), 9-92 (Chamika Karunaratne, 15.2 ov), 10-108 (Dushmantha Chameera, 18.6 ov)',
       'Chirag Suri', 'Muhammad Waseem', 'Kashif Daud',
       'Vriitya Aravind\xa0†', 'Zawar Farid', 'Basil Hameed',
       'Chundangapoyil Rizwan\xa0(c)', 'Aayan Afzal Khan',
       'Karthik Meiyappan', 'Junaid Siddique', 'Did not bat: Zahoor Khan',
       'Fall of wickets: 1-33 (Chirag Suri, 6.3 ov), 2-59 (Kashif Daud, 10.3 ov), 3-91 (Muhammad Waseem, 15.6 ov), 4-99 (Zawar Farid, 17.3 ov), 5-103 (Vriitya Aravind, 18.1 ov), 6-104 (Basil Hameed, 18.3 ov), 7-106 (Chundangapoyil Rizwan, 18.6 ov), 8-110 (Aayan Afzal Khan, 19.5 ov)',
       'Vikramjit Singh', "Max O'Dowd", 'Bas de Leede', 'Colin Ackermann',
       'Tom Cooper', 'Scott Edwards\xa0(c)†', 'Roelof van der Merwe',
       'Tim Pringle', 'Logan van Beek',
       'Did not bat: Fred Klaassen,\xa0Paul van Meekeren',
       "Fall of wickets: 1-14 (Vikramjit Singh, 1.3 ov), 2-41 (Max O'Dowd, 5.4 ov), 3-59 (Bas de Leede, 8.5 ov), 4-71 (Colin Ackermann, 11.4 ov), 5-76 (Tom Cooper, 13.1 ov), 6-76 (Roelof van der Merwe, 13.3 ov), 7-103 (Tim Pringle, 18.3 ov)",
       'George Munsey', 'Michael Jones', 'Matthew Cross\xa0†',
       'Richie Berrington\xa0(c)', 'Calum MacLeod', 'Michael Leask',
       'Chris Greaves',
       'Did not bat: Mark Watt,\xa0Josh Davey,\xa0Safyaan Sharif,\xa0Brad Wheal',
       'Fall of wickets: 1-55 (Michael Jones, 6.2 ov), 2-63 (Matthew Cross, 8.2 ov), 3-86 (Richie Berrington, 11.5 ov), 4-117 (Calum MacLeod, 15.1 ov), 5-125 (Michael Leask, 16.3 ov)',
       'Kyle Mayers', 'Evin Lewis', 'Brandon King',
       'Nicholas Pooran\xa0(c)†', 'Shamarh Brooks', 'Rovman Powell',
       'Jason Holder', 'Akeal Hosein', 'Alzarri Joseph', 'Odean Smith',
       'Obed McCoy',
       'Fall of wickets: 1-20 (Kyle Mayers, 2.4 ov), 2-53 (Evin Lewis, 5.5 ov), 3-58 (Brandon King, 7.4 ov), 4-62 (Nicholas Pooran, 8.4 ov), 5-69 (Rovman Powell, 10.1 ov), 6-77 (Shamarh Brooks, 11.6 ov), 7-79 (Akeal Hosein, 12.4 ov), 8-79 (Alzarri Joseph, 13.1 ov), 9-102 (Odean Smith, 16.2 ov), 10-118 (Jason Holder, 18.3 ov)',
       'Regis Chakabva\xa0†', 'Craig Ervine\xa0(c)', 'Wessly Madhevere',
       'Sean Williams', 'Sikandar Raza', 'Milton Shumba', 'Ryan Burl',
       'Luke Jongwe',
       'Did not bat: Tendai Chatara,\xa0Richard Ngarava,\xa0Blessing Muzarabani',
       'Fall of wickets: 1-0 (Regis Chakabva, 0.2 ov), 2-37 (Wessly Madhevere, 4.6 ov), 3-37 (Craig Ervine, 5.3 ov), 4-79 (Sean Williams, 9.6 ov), 5-137 (Milton Shumba, 15.5 ov), 6-141 (Ryan Burl, 17.1 ov), 7-174 (Sikandar Raza, 19.6 ov)',
       'Paul Stirling', 'Andy Balbirnie\xa0(c)', 'Lorcan Tucker\xa0†',
       'Harry Tector', 'Curtis Campher', 'George Dockrell',
       'Gareth Delany', 'Mark Adair', 'Simi Singh', 'Barry McCarthy',
       'Josh Little',
       'Fall of wickets: 1-0 (Paul Stirling, 0.2 ov), 2-14 (Lorcan Tucker, 2.4 ov), 3-19 (Harry Tector, 3.2 ov), 4-22 (Andy Balbirnie, 3.5 ov), 5-64 (George Dockrell, 9.2 ov), 6-91 (Curtis Campher, 12.3 ov), 7-102 (Gareth Delany, 14.4 ov), 8-102 (Simi Singh, 14.5 ov), 9-111 (Mark Adair, 15.5 ov)',
       'Fall of wickets: 1-4 (Divan la Cock, 1.2 ov), 2-30 (Michael van Lingen, 4.5 ov), 3-32 (Jan Nicol Loftie-Eaton, 5.2 ov), 4-63 (Stephan Baard, 11.2 ov), 5-104 (Jan Frylinck, 18.2 ov), 6-105 (Gerhard Erasmus, 18.4 ov)',
       'Did not bat: Roelof van der Merwe,\xa0Timm van der Gugten,\xa0Fred Klaassen,\xa0Paul van Meekeren',
       "Fall of wickets: 1-59 (Vikramjit Singh, 8.2 ov), 2-92 (Max O'Dowd, 13.5 ov), 3-101 (Tom Cooper, 15.3 ov), 4-101 (Colin Ackermann, 15.5 ov), 5-102 (Scott Edwards, 16.4 ov)",
       'Charith Asalanka', 'Did not bat: Maheesh Theekshana',
       'Fall of wickets: 1-42 (Kusal Mendis, 4.4 ov), 2-92 (Dhananjaya de Silva, 11.1 ov), 3-117 (Bhanuka Rajapaksa, 14.4 ov), 4-117 (Charith Asalanka, 14.5 ov), 5-117 (Dasun Shanaka, 14.6 ov), 6-120 (Wanindu Hasaranga de Silva, 15.4 ov), 7-150 (Chamika Karunaratne, 19.3 ov), 8-151 (Pathum Nissanka, 19.5 ov)',
       'Aryan Lakra', 'Zahoor Khan',
       'Fall of wickets: 1-15 (Muhammad Waseem, 2.2 ov), 2-17 (Aryan Lakra, 2.6 ov), 3-19 (Chundangapoyil Rizwan, 4.2 ov), 4-21 (Chirag Suri, 5.3 ov), 5-30 (Basil Hameed, 8.2 ov), 6-36 (Vriitya Aravind, 9.5 ov), 7-42 (Kashif Daud, 11.3 ov), 8-52 (Karthik Meiyappan, 13.5 ov), 9-56 (Aayan Afzal Khan, 14.6 ov), 10-73 (Junaid Siddique, 17.1 ov)',
       'Did not bat: Chris Greaves,\xa0Mark Watt,\xa0Josh Davey,\xa0Safyaan Sharif,\xa0Brad Wheal',
       'Fall of wickets: 1-1 (George Munsey, 1.1 ov), 2-60 (Matthew Cross, 8.1 ov), 3-137 (Richie Berrington, 16.1 ov), 4-170 (Michael Jones, 18.5 ov), 5-176 (Calum MacLeod, 19.6 ov)',
       'Did not bat: Gareth Delany,\xa0Mark Adair,\xa0Simi Singh,\xa0Barry McCarthy,\xa0Josh Little',
       'Fall of wickets: 1-22 (Andy Balbirnie, 3.2 ov), 2-29 (Paul Stirling, 4.3 ov), 3-57 (Lorcan Tucker, 8.4 ov), 4-61 (Harry Tector, 9.3 ov)',
       'Johnson Charles', 'Did not bat: Alzarri Joseph,\xa0Obed McCoy',
       'Fall of wickets: 1-28 (Kyle Mayers, 3.3 ov), 2-77 (Evin Lewis, 9.5 ov), 3-90 (Nicholas Pooran, 12.2 ov), 4-97 (Johnson Charles, 12.6 ov), 5-97 (Shamarh Brooks, 13.3 ov), 6-101 (Jason Holder, 13.6 ov), 7-150 (Rovman Powell, 19.4 ov)',
       'Regis Chakabva\xa0(c)†', 'Tony Munyonga', 'Richard Ngarava',
       'Tendai Chatara', 'Blessing Muzarabani',
       'Fall of wickets: 1-29 (Regis Chakabva, 2.2 ov), 2-47 (Tony Munyonga, 4.5 ov), 3-48 (Sean Williams, 5.1 ov), 4-58 (Wessly Madhevere, 6.5 ov), 5-64 (Sikandar Raza, 7.2 ov), 6-79 (Milton Shumba, 10.4 ov), 7-92 (Ryan Burl, 13.3 ov), 8-102 (Richard Ngarava, 15.3 ov), 9-120 (Luke Jongwe, 17.1 ov), 10-122 (Tendai Chatara, 18.2 ov)',
       'Did not bat: Maheesh Theekshana,\xa0Lahiru Kumara,\xa0Binura Fernando',
       'Fall of wickets: 1-36 (Pathum Nissanka, 6.3 ov), 2-36 (Dhananjaya de Silva, 6.4 ov), 3-96 (Charith Asalanka, 14.1 ov), 4-130 (Bhanuka Rajapaksa, 17.2 ov), 5-151 (Dasun Shanaka, 18.4 ov), 6-157 (Kusal Mendis, 19.2 ov)',
       'Timm van der Gugten', 'Fred Klaassen', 'Paul van Meekeren',
       'Fall of wickets: 1-23 (Vikramjit Singh, 3.5 ov), 2-40 (Bas de Leede, 5.6 ov), 3-47 (Colin Ackermann, 6.3 ov), 4-72 (Tom Cooper, 11.3 ov), 5-100 (Scott Edwards, 14.3 ov), 6-105 (Tim Pringle, 15.6 ov), 7-105 (Timm van der Gugten, 16.1 ov), 8-109 (Fred Klaassen, 16.6 ov), 9-123 (Paul van Meekeren, 17.4 ov)',
       'Alishan Sharafu',
       'Did not bat: Aayan Afzal Khan,\xa0Fahad Nawaz,\xa0Karthik Meiyappan,\xa0Ahmed Raza,\xa0Junaid Siddique,\xa0Zahoor Khan',
       'Fall of wickets: 1-39 (Vriitya Aravind, 8.1 ov), 2-97 (Muhammad Waseem, 14.6 ov), 3-113 (Alishan Sharafu, 16.6 ov)',
       'Zane Green\xa0†', 'Ruben Trumpelmann', 'Bernard Scholtz',
       'Did not bat: Ben Shikongo',
       'Fall of wickets: 1-10 (Stephan Baard, 1.5 ov), 2-16 (Michael van Lingen, 2.6 ov), 3-26 (Jan Nicol Loftie-Eaton, 4.6 ov), 4-43 (Gerhard Erasmus, 7.2 ov), 5-46 (JJ Smit, 7.5 ov), 6-67 (Jan Frylinck, 12.1 ov), 7-69 (Zane Green, 12.4 ov), 8-139 (David Wiese, 19.4 ov)',
       'Did not bat: Jason Holder,\xa0Akeal Hosein,\xa0Alzarri Joseph,\xa0Obed McCoy',
       'Fall of wickets: 1-10 (Kyle Mayers, 2.4 ov), 2-27 (Johnson Charles, 4.2 ov), 3-71 (Evin Lewis, 10.5 ov), 4-99 (Nicholas Pooran, 14.1 ov), 5-112 (Rovman Powell, 16.3 ov)',
       'Did not bat: Harry Tector,\xa0Curtis Campher,\xa0George Dockrell,\xa0Gareth Delany,\xa0Mark Adair,\xa0Simi Singh,\xa0Barry McCarthy,\xa0Josh Little',
       'Fall of wickets: 1-73 (Andy Balbirnie, 7.3 ov)', 'Josh Davey',
       'Did not bat: Mark Watt,\xa0Safyaan Sharif,\xa0Brad Wheal',
       'Fall of wickets: 1-5 (Michael Jones, 0.6 ov), 2-24 (Matthew Cross, 4.1 ov), 3-64 (Richie Berrington, 9.3 ov), 4-98 (George Munsey, 16.1 ov), 5-119 (Michael Leask, 17.5 ov), 6-128 (Calum MacLeod, 19.3 ov)',
       'Did not bat: Luke Jongwe,\xa0Richard Ngarava,\xa0Tendai Chatara,\xa0Blessing Muzarabani',
       'Fall of wickets: 1-4 (Regis Chakabva, 0.3 ov), 2-7 (Wessly Madhevere, 1.4 ov), 3-42 (Sean Williams, 7.6 ov), 4-106 (Sikandar Raza, 14.6 ov), 5-119 (Craig Ervine, 16.6 ov)',
       'Finn Allen', 'Devon Conway\xa0†', 'Kane Williamson\xa0(c)',
       'Glenn Phillips', 'James Neesham',
       'Did not bat: Mark Chapman,\xa0Mitchell Santner,\xa0Ish Sodhi,\xa0Tim Southee,\xa0Lockie Ferguson,\xa0Trent Boult',
       'Fall of wickets: 1-56 (Finn Allen, 4.1 ov), 2-125 (Kane Williamson, 12.6 ov), 3-152 (Glenn Phillips, 15.6 ov)',
       'David Warner', 'Aaron Finch\xa0(c)', 'Mitchell Marsh',
       'Glenn Maxwell', 'Marcus Stoinis', 'Tim David',
       'Matthew Wade\xa0†', 'Pat Cummins', 'Mitchell Starc', 'Adam Zampa',
       'Josh Hazlewood',
       'Fall of wickets: 1-5 (David Warner, 1.1 ov), 2-30 (Aaron Finch, 3.6 ov), 3-34 (Mitchell Marsh, 4.5 ov), 4-50 (Marcus Stoinis, 8.2 ov), 5-68 (Tim David, 10.2 ov), 6-82 (Matthew Wade, 12.2 ov), 7-89 (Glenn Maxwell, 13.3 ov), 8-109 (Mitchell Starc, 16.1 ov), 9-109 (Adam Zampa, 16.3 ov), 10-111 (Pat Cummins, 17.1 ov)',
       'Hazratullah Zazai', 'Rahmanullah Gurbaz\xa0†', 'Ibrahim Zadran',
       'Usman Ghani', 'Najibullah Zadran', 'Mohammad Nabi\xa0(c)',
       'Azmatullah Omarzai', 'Rashid Khan', 'Mujeeb Ur Rahman',
       'Fareed Ahmad', 'Fazalhaq Farooqi',
       'Fall of wickets: 1-11 (Rahmanullah Gurbaz, 2.1 ov), 2-35 (Hazratullah Zazai, 6.3 ov), 3-62 (Ibrahim Zadran, 11.1 ov), 4-82 (Najibullah Zadran, 14.1 ov), 5-91 (Mohammad Nabi, 15.3 ov), 6-109 (Azmatullah Omarzai, 17.5 ov), 7-109 (Rashid Khan, 17.6 ov), 8-110 (Mujeeb Ur Rahman, 18.2 ov), 9-112 (Usman Ghani, 19.2 ov), 10-112 (Fazalhaq Farooqi, 19.4 ov)',
       'Jos Buttler\xa0(c)†', 'Alex Hales', 'Dawid Malan', 'Ben Stokes',
       'Liam Livingstone', 'Harry Brook', 'Moeen Ali',
       'Did not bat: Chris Woakes,\xa0Sam Curran,\xa0Adil Rashid,\xa0Mark Wood',
       'Fall of wickets: 1-35 (Jos Buttler, 4.6 ov), 2-52 (Alex Hales, 8.4 ov), 3-65 (Ben Stokes, 10.4 ov), 4-81 (Dawid Malan, 13.5 ov), 5-97 (Harry Brook, 15.2 ov)',
       'Did not bat: Josh Little',
       'Fall of wickets: 1-2 (Andy Balbirnie, 1.1 ov), 2-26 (Lorcan Tucker, 4.4 ov), 3-55 (Paul Stirling, 8.4 ov), 4-60 (Curtis Campher, 9.6 ov), 5-107 (George Dockrell, 16.5 ov), 6-117 (Harry Tector, 17.6 ov), 7-117 (Gareth Delany, 18.1 ov), 8-118 (Mark Adair, 18.4 ov)',
       'Did not bat: Ashen Bandara,\xa0Bhanuka Rajapaksa,\xa0Dasun Shanaka\xa0(c),\xa0Wanindu Hasaranga de Silva,\xa0Chamika Karunaratne,\xa0Maheesh Theekshana,\xa0Lahiru Kumara,\xa0Binura Fernando',
       'Fall of wickets: 1-63 (Dhananjaya de Silva, 8.2 ov)',
       'Mohammad Rizwan\xa0†', 'Babar Azam\xa0(c)', 'Shan Masood',
       'Iftikhar Ahmed', 'Shadab Khan', 'Haider Ali', 'Mohammad Nawaz',
       'Asif Ali', 'Shaheen Shah Afridi', 'Haris Rauf',
       'Did not bat: Naseem Shah',
       'Fall of wickets: 1-1 (Babar Azam, 1.1 ov), 2-15 (Mohammad Rizwan, 3.6 ov), 3-91 (Iftikhar Ahmed, 12.2 ov), 4-96 (Shadab Khan, 13.2 ov), 5-98 (Haider Ali, 13.6 ov), 6-115 (Mohammad Nawaz, 15.5 ov), 7-120 (Asif Ali, 16.4 ov), 8-151 (Shaheen Shah Afridi, 19.2 ov)',
       'KL Rahul', 'Rohit Sharma\xa0(c)', 'Virat Kohli',
       'Suryakumar Yadav', 'Axar Patel', 'Hardik Pandya',
       'Dinesh Karthik\xa0†', 'Ravichandran Ashwin',
       'Did not bat: Mohammed Shami,\xa0Bhuvneshwar Kumar,\xa0Arshdeep Singh',
       'Fall of wickets: 1-7 (KL Rahul, 1.5 ov), 2-10 (Rohit Sharma, 3.2 ov), 3-26 (Suryakumar Yadav, 5.3 ov), 4-31 (Axar Patel, 6.1 ov), 5-144 (Hardik Pandya, 19.1 ov), 6-158 (Dinesh Karthik, 19.5 ov)',
       'Najmul Hossain Shanto', 'Soumya Sarkar', 'Litton Das',
       'Shakib Al Hasan\xa0(c)', 'Afif Hossain', 'Yasir Ali',
       'Nurul Hasan\xa0†', 'Mosaddek Hossain', 'Taskin Ahmed',
       'Hasan Mahmud', 'Did not bat: Mustafizur Rahman',
       'Fall of wickets: 1-43 (Soumya Sarkar, 5.1 ov), 2-47 (Najmul Hossain Shanto, 6.1 ov), 3-60 (Litton Das, 8.4 ov), 4-63 (Shakib Al Hasan, 9.1 ov), 5-76 (Yasir Ali, 10.6 ov), 6-120 (Nurul Hasan, 17.1 ov), 7-129 (Afif Hossain, 17.6 ov), 8-134 (Taskin Ahmed, 18.3 ov)',
       'Shariz Ahmad',
       "Fall of wickets: 1-0 (Vikramjit Singh, 0.1 ov), 2-0 (Bas de Leede, 0.2 ov), 3-13 (Max O'Dowd, 3.2 ov), 4-15 (Tom Cooper, 3.4 ov), 5-59 (Scott Edwards, 11.3 ov), 6-66 (Tim Pringle, 12.4 ov), 7-81 (Logan van Beek, 14.2 ov), 8-96 (Shariz Ahmad, 16.2 ov), 9-101 (Colin Ackermann, 16.5 ov), 10-135 (Paul van Meekeren, 19.6 ov)",
       'Did not bat: Ryan Burl,\xa0Luke Jongwe,\xa0Richard Ngarava,\xa0Tendai Chatara,\xa0Blessing Muzarabani',
       'Fall of wickets: 1-6 (Craig Ervine, 1.6 ov), 2-12 (Regis Chakabva, 2.2 ov), 3-12 (Sikandar Raza, 2.4 ov), 4-19 (Sean Williams, 3.4 ov), 5-79 (Milton Shumba, 8.6 ov)',
       'Quinton de Kock\xa0†', 'Temba Bavuma\xa0(c)',
       'Did not bat: Rilee Rossouw,\xa0Aiden Markram,\xa0David Miller,\xa0Tristan Stubbs,\xa0Wayne Parnell,\xa0Keshav Maharaj,\xa0Kagiso Rabada,\xa0Anrich Nortje,\xa0Lungi Ngidi',
       'Fall of wickets: 1-6 (Kusal Mendis, 1.5 ov), 2-75 (Dhananjaya de Silva, 11.3 ov), 3-97 (Pathum Nissanka, 13.3 ov), 4-106 (Bhanuka Rajapaksa, 14.5 ov), 5-111 (Dasun Shanaka, 15.6 ov), 6-120 (Wanindu Hasaranga de Silva, 17.3 ov)',
       'Did not bat: Tim David,\xa0Matthew Wade\xa0†,\xa0Ashton Agar,\xa0Mitchell Starc,\xa0Pat Cummins,\xa0Josh Hazlewood',
       'Fall of wickets: 1-26 (David Warner, 4.1 ov), 2-60 (Mitchell Marsh, 8.3 ov), 3-89 (Glenn Maxwell, 12.2 ov)',
       'Fionn Hand',
       'Fall of wickets: 1-21 (Paul Stirling, 2.3 ov), 2-103 (Lorcan Tucker, 11.6 ov), 3-103 (Harry Tector, 12.2 ov), 4-132 (Andy Balbirnie, 15.3 ov), 5-132 (George Dockrell, 15.4 ov), 6-138 (Curtis Campher, 16.3 ov), 7-149 (Mark Adair, 17.5 ov), 8-152 (Barry McCarthy, 18.2 ov), 9-156 (Fionn Hand, 18.6 ov), 10-157 (Josh Little, 19.2 ov)',
       'Did not bat: Sam Curran,\xa0Chris Woakes,\xa0Mark Wood,\xa0Adil Rashid',
       'Fall of wickets: 1-0 (Jos Buttler, 0.2 ov), 2-14 (Alex Hales, 2.4 ov), 3-29 (Ben Stokes, 5.1 ov), 4-67 (Harry Brook, 10.5 ov), 5-86 (Dawid Malan, 13.1 ov)',
       'Rilee Rossouw', 'Tristan Stubbs', 'Aiden Markram', 'David Miller',
       'Wayne Parnell',
       'Did not bat: Keshav Maharaj,\xa0Kagiso Rabada,\xa0Anrich Nortje,\xa0Tabraiz Shamsi',
       'Fall of wickets: 1-2 (Temba Bavuma, 0.6 ov), 2-170 (Quinton de Kock, 14.3 ov), 3-180 (Tristan Stubbs, 16.1 ov), 4-197 (Rilee Rossouw, 18.3 ov), 5-204 (Aiden Markram, 19.4 ov)',
       'Mehidy Hasan Miraz', 'Mustafizur Rahman',
       'Fall of wickets: 1-26 (Soumya Sarkar, 2.1 ov), 2-27 (Najmul Hossain Shanto, 2.4 ov), 3-39 (Shakib Al Hasan, 4.4 ov), 4-47 (Afif Hossain, 5.5 ov), 5-66 (Mehidy Hasan Miraz, 9.4 ov), 6-71 (Mosaddek Hossain, 10.4 ov), 7-76 (Nurul Hasan, 11.6 ov), 8-85 (Litton Das, 13.4 ov), 9-89 (Hasan Mahmud, 14.5 ov), 10-101 (Taskin Ahmed, 16.3 ov)',
       'Did not bat: Axar Patel,\xa0Hardik Pandya,\xa0Dinesh Karthik\xa0†,\xa0Ravichandran Ashwin,\xa0Mohammed Shami,\xa0Bhuvneshwar Kumar,\xa0Arshdeep Singh',
       'Fall of wickets: 1-11 (KL Rahul, 2.4 ov), 2-84 (Rohit Sharma, 11.6 ov)',
       "Fall of wickets: 1-11 (Vikramjit Singh, 2.2 ov), 2-20 (Max O'Dowd, 4.2 ov), 3-47 (Bas de Leede, 9.2 ov), 4-62 (Colin Ackermann, 12.1 ov), 5-63 (Tom Cooper, 12.4 ov), 6-87 (Tim Pringle, 15.4 ov), 7-89 (Scott Edwards, 16.3 ov), 8-101 (Logan van Beek, 17.5 ov), 9-101 (Fred Klaassen, 17.6 ov)",
       'Brad Evans', 'Did not bat: Blessing Muzarabani',
       'Fall of wickets: 1-42 (Craig Ervine, 4.6 ov), 2-43 (Wessly Madhevere, 5.2 ov), 3-64 (Milton Shumba, 9.4 ov), 4-95 (Sean Williams, 13.5 ov), 5-95 (Regis Chakabva, 13.6 ov), 6-95 (Sikandar Raza, 14.3 ov), 7-95 (Luke Jongwe, 14.4 ov), 8-126 (Brad Evans, 19.3 ov)',
       'Mohammad Wasim', 'Did not bat: Haris Rauf,\xa0Naseem Shah',
       'Fall of wickets: 1-13 (Babar Azam, 3.3 ov), 2-23 (Mohammad Rizwan, 4.4 ov), 3-36 (Iftikhar Ahmed, 7.4 ov), 4-88 (Shadab Khan, 13.4 ov), 5-88 (Haider Ali, 13.5 ov), 6-94 (Shan Masood, 15.1 ov), 7-128 (Mohammad Nawaz, 19.5 ov), 8-129 (Shaheen Shah Afridi, 19.6 ov)',
       'Daryl Mitchell', 'Mitchell Santner', 'Ish Sodhi', 'Tim Southee',
       'Did not bat: Lockie Ferguson,\xa0Trent Boult',
       'Fall of wickets: 1-2 (Finn Allen, 0.4 ov), 2-7 (Devon Conway, 2.2 ov), 3-15 (Kane Williamson, 3.6 ov), 4-99 (Daryl Mitchell, 14.3 ov), 5-129 (James Neesham, 17.1 ov), 6-162 (Glenn Phillips, 19.4 ov), 7-163 (Ish Sodhi, 19.5 ov)',
       'Kasun Rajitha', 'Lahiru Kumara',
       'Fall of wickets: 1-0 (Pathum Nissanka, 0.5 ov), 2-4 (Kusal Mendis, 1.3 ov), 3-5 (Dhananjaya de Silva, 1.6 ov), 4-8 (Charith Asalanka, 3.3 ov), 5-24 (Chamika Karunaratne, 6.1 ov), 6-58 (Bhanuka Rajapaksa, 9.6 ov), 7-64 (Wanindu Hasaranga de Silva, 11.4 ov), 8-65 (Maheesh Theekshana, 12.3 ov), 9-93 (Dasun Shanaka, 16.6 ov), 10-102 (Lahiru Kumara, 19.2 ov)',
       'Did not bat: Taskin Ahmed,\xa0Hasan Mahmud,\xa0Mustafizur Rahman',
       'Fall of wickets: 1-10 (Soumya Sarkar, 1.4 ov), 2-32 (Litton Das, 5.3 ov), 3-86 (Shakib Al Hasan, 12.5 ov), 4-122 (Najmul Hossain Shanto, 16.2 ov), 5-147 (Mosaddek Hossain, 19.2 ov), 6-149 (Nurul Hasan, 19.4 ov), 7-150 (Afif Hossain, 19.6 ov)',
       'Did not bat: Tendai Chatara',
       'Fall of wickets: 1-4 (Wessly Madhevere, 0.3 ov), 2-17 (Craig Ervine, 2.4 ov), 3-35 (Milton Shumba, 5.2 ov), 4-35 (Sikandar Raza, 5.5 ov), 5-69 (Regis Chakabva, 11.2 ov), 6-132 (Sean Williams, 18.4 ov), 7-136 (Brad Evans, 19.2 ov), 8-146 (Richard Ngarava, 19.5 ov)',
       'Stephan Myburgh', 'Did not bat: Brandon Glover',
       "Fall of wickets: 1-7 (Stephan Myburgh, 2.2 ov), 1-18* (Bas de Leede, retired hurt), 2-19 (Tom Cooper, 6.1 ov), 3-26 (Max O'Dowd, 8.1 ov), 4-61 (Colin Ackermann, 14.2 ov), 5-69 (Scott Edwards, 15.3 ov), 6-73 (Roelof van der Merwe, 16.3 ov), 7-81 (Tim Pringle, 18.2 ov), 8-81 (Fred Klaassen, 18.3 ov), 9-91 (Paul van Meekeren, 19.6 ov)",
       'Fakhar Zaman',
       'Did not bat: Mohammad Nawaz,\xa0Mohammad Wasim,\xa0Shaheen Shah Afridi,\xa0Haris Rauf,\xa0Naseem Shah',
       'Fall of wickets: 1-16 (Babar Azam, 1.6 ov), 2-53 (Fakhar Zaman, 7.1 ov), 3-83 (Mohammad Rizwan, 12.1 ov), 4-91 (Shan Masood, 13.3 ov)',
       'Deepak Hooda', 'Bhuvneshwar Kumar', 'Mohammed Shami',
       'Arshdeep Singh',
       'Fall of wickets: 1-23 (Rohit Sharma, 4.2 ov), 2-26 (KL Rahul, 4.6 ov), 3-41 (Virat Kohli, 6.5 ov), 4-42 (Deepak Hooda, 7.3 ov), 5-49 (Hardik Pandya, 8.3 ov), 6-101 (Dinesh Karthik, 15.1 ov), 7-124 (Ravichandran Ashwin, 18.1 ov), 8-127 (Suryakumar Yadav, 18.5 ov), 9-130 (Mohammed Shami, 19.4 ov)',
       'Did not bat: Keshav Maharaj,\xa0Kagiso Rabada,\xa0Anrich Nortje,\xa0Lungi Ngidi',
       'Fall of wickets: 1-3 (Quinton de Kock, 1.1 ov), 2-3 (Rilee Rossouw, 1.3 ov), 3-24 (Temba Bavuma, 5.4 ov), 4-100 (Aiden Markram, 15.4 ov), 5-122 (Tristan Stubbs, 17.4 ov)',
       'Did not bat: Mitchell Starc,\xa0Pat Cummins,\xa0Adam Zampa,\xa0Josh Hazlewood',

In [15]:
new_df = bating_df.query("~BATTING.str.contains('^Did not bat', na = False)")
new_df = new_df.query("~BATTING.str.contains('^Fall of wickets', na = False)")
new_df = new_df.query("BATTING != 'Extras' & BATTING != 'TOTAL' & BATTING.notnull()")

In [16]:
new_df.head(40)

,match,team_innings,batting_pos,BATTING,Unnamed: 1,R,B,M,4s,6s,SR,Unnamed: 8,Unnamed: 9,match_id
0,Namibia VS Sri Lanka,Namibia,0,Michael van Lingen,c Pramod Madushan b Chameera,3,6,7,0,0,50.00,NaN,NaN,T20I # 1823
2,Namibia VS Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,15,1,0,100.00,NaN,NaN,T20I # 1823
4,Namibia VS Sri Lanka,Namibia,4,Jan Nicol Loftie-Eaton,c †Mendis b Karunaratne,20,12,18,1,2,166.66,NaN,NaN,T20I # 1823
6,Namibia VS Sri Lanka,Namibia,6,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,49,2,0,108.33,NaN,NaN,T20I # 1823
8,Namibia VS Sri Lanka,Namibia,8,Gerhard Erasmus (c),c Gunathilaka b PWH de Silva,20,24,30,0,0,83.33,NaN,NaN,T20I # 1823
10,Namibia VS Sri Lanka,Namibia,10,Jan Frylinck,run out (Gunathilaka/†Mendis),44,28,44,4,0,157.14,NaN,NaN,T20I # 1823
12,Namibia VS Sri Lanka,Namibia,12,David Wiese,c †Mendis b Theekshana,0,1,4,0,0,0.00,NaN,NaN,T20I # 1823
14,Namibia VS Sri Lanka,Namibia,14,JJ Smit,not out,31,16,29,2,2,193.75,NaN,NaN,T20I # 1823
19,Namibia VS Sri Lanka,Sri Lanka,0,Pathum Nissanka,c Smit b Shikongo,9,10,16,1,0,90.00,NaN,NaN,T20I # 1823
21,Namibia VS Sri Lanka,Sri Lanka,2,Kusal Mendis †,c †Green b Wiese,6,6,8,0,0,100.00,NaN,NaN,T20I # 1823
23,Namibia VS Sri Lanka,Sri Lanka,4,Dhananjaya de Silva,c Shikongo b Frylinck,12,11,25,1,0,109.09,NaN,NaN,T20I # 1823
25,Namibia VS Sri Lanka,Sri Lanka,6,Danushka Gunathilaka,c †Green b Shikongo,0,1,2,0,0,0.00,NaN,NaN,T20I # 1823
27,Namibia VS Sri Lanka,Sri Lanka,8,Bhanuka Rajapaksa,c la Cock b Scholtz,20,21,39,2,0,95.23,NaN,NaN,T20I # 1823
29,Namibia VS Sri Lanka,Sri Lanka,10,Dasun Shanaka (c),c †Green b Frylinck,29,23,37,2,1,126.08,NaN,NaN,T20I # 1823
31,Namibia VS Sri Lanka,Sri Lanka,12,Wanindu Hasaranga de Silva,c Loftie-Eaton b Scholtz,4,8,9,0,0,50.00,NaN,NaN,T20I # 1823
33,Namibia VS Sri Lanka,Sri Lanka,14,Chamika Karunaratne,c Baard b Smit,5,8,15,0,0,62.50,NaN,NaN,T20I # 1823
35,Namibia VS Sri Lanka,Sri Lanka,16,Pramod Madushan,run out (van Lingen/†Green),0,0,4,0,0,-,NaN,NaN,T20I # 1823
37,Namibia VS Sri Lanka,Sri Lanka,18,Dushmantha Chameera,c Erasmus b Wiese,8,15,20,0,0,53.33,NaN,NaN,T20I # 1823
39,Namibia VS Sri Lanka,Sri Lanka,20,Maheesh Theekshana,not out,11,11,14,0,1,100.00,NaN,NaN,T20I # 1823
43,United Arab Emirates VS Netherlands,United Arab Emirates,0,Chirag Suri,c †Edwards b van der Merwe,12,20,28,1,0,60.00,NaN,NaN,T20I # 1825
45,United Arab Emirates VS Netherlands,United Arab Emirates,2,Muhammad Waseem,c Pringle b Klaassen,41,47,71,1,2,87.23,NaN,NaN,T20I # 1825
47,United Arab Emirates VS Netherlands,United Arab Emirates,4,Kashif Daud,b Pringle,15,14,19,0,1,107.14,NaN,NaN,T20I # 1825
49,United Arab Emirates VS Netherlands,United Arab Emirates,6,Vriitya Aravind †,c Klaassen b de Leede,18,21,37,0,0,85.71,NaN,NaN,T20I # 1825
51,United Arab Emirates VS Netherlands,United Arab Emirates,8,Zawar Farid,run out (Ackermann/†Edwards),2,4,8,0,0,50.00,NaN,NaN,T20I # 1825
53,United Arab Emirates VS Netherlands,United Arab Emirates,10,Basil Hameed,c van der Merwe b de Leede,4,4,7,1,0,100.00,NaN,NaN,T20I # 1825
55,United Arab Emirates VS Netherlands,United Arab Emirates,12,Chundangapoyil Rizwan (c),b de Leede,1,2,7,0,0,50.00,NaN,NaN,T20I # 1825
57,United Arab Emirates VS Netherlands,United Arab Emirates,14,Aayan Afzal Khan,c Cooper b Klaassen,5,7,8,0,0,71.42,NaN,NaN,T20I # 1825
59,United Arab Emirates VS Netherlands,United Arab Emirates,16,Karthik Meiyappan,not out,0,0,4,0,0,-,NaN,NaN,T20I # 1825
60,United Arab Emirates VS Netherlands,United Arab Emirates,17,Junaid Siddique,not out,0,1,1,0,0,0.00,NaN,NaN,T20I # 1825
65,United Arab Emirates VS Netherlands,Netherlands,0,Vikramjit Singh,b Basil Hameed,10,7,8,2,0,142.85,NaN,NaN,T20I # 1825
67,United Arab Emirates VS Netherlands,Netherlands,2,Max O'Dowd,b Junaid Siddique,23,18,25,3,1,127.77,NaN,NaN,T20I # 1825
69,United Arab Emirates VS Netherlands,Netherlands,4,Bas de Leede,c Rizwan b Meiyappan,14,18,37,1,0,77.77,NaN,NaN,T20I # 1825
71,United Arab Emirates VS Netherlands,Netherlands,6,Colin Ackermann,c Junaid Siddique b Aayan Afzal Khan,17,19,33,1,0,89.47,NaN,NaN,T20I # 1825
73,United Arab Emirates VS Netherlands,Netherlands,8,Tom Cooper,lbw b Junaid Siddique,8,16,22,0,0,50.00,NaN,NaN,T20I # 1825
75,United Arab Emirates VS Netherlands,Netherlands,10,Scott Edwards (c)†,not out,16,19,42,0,0,84.21,NaN,NaN,T20I # 1825
76,United Arab Emirates VS Netherlands,Netherlands,11,Roelof van der Merwe,b Junaid Siddique,0,2,4,0,0,0.00,NaN,NaN,T20I # 1825
78,United Arab Emirates VS Netherlands,Netherlands,13,Tim Pringle,b Zahoor Khan,15,16,26,0,0,93.75,NaN,NaN,T20I # 1825
80,United Arab Emirates VS Netherlands,Netherlands,15,Logan van Beek,not out,4,4,7,0,0,100.00,NaN,NaN,T20I # 1825
85,Scotland VS West Indies,Scotland,0,George Munsey,not out,66,53,106,9,0,124.52,NaN,NaN,T20I # 1826
86,Scotland VS West Indies,Scotland,1,Michael Jones,b Holder,20,17,36,3,0,117.64,NaN,NaN,T20I # 1826

In [17]:
new_df.drop(columns=["Unnamed: 8","Unnamed: 9"], inplace=True)

In [18]:
new_df.duplicated().sum()

0

In [19]:
new_df.isnull().sum()

match           0
team_innings    0
batting_pos     0
BATTING         0
Unnamed: 1      0
R               0
B               0
M               0
4s              0
6s              0
SR              0
match_id        0
dtype: int64

In [20]:
new_df.rename(columns={'Unnamed: 1':"out/not out"},inplace=True)

In [21]:
new_df.reset_index(drop=True,inplace=True)

In [51]:
new_df.iloc[16]

match                  Namibia VS Sri Lanka
team_innings                      Sri Lanka
batting_pos                              16
BATTING                     Pramod Madushan
out/not out     run out (van Lingen/†Green)
R                                         0
B                                         0
M                                         4
4s                                        0
6s                                        0
SR                                        -
match_id                        T20I # 1823
Name: 16, dtype: object

In [23]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   match         699 non-null    object
 1   team_innings  699 non-null    object
 2   batting_pos   699 non-null    int64
 3   BATTING       699 non-null    object
 4   out/not out   699 non-null    object
 5   R             699 non-null    object
 6   B             699 non-null    object
 7   M             699 non-null    object
 8   4s            699 non-null    object
 9   6s            699 non-null    object
 10  SR            699 non-null    object
 11  match_id      699 non-null    object
dtypes: int64(1), object(11)
memory usage: 65.7+ KB

In [24]:
bowling_df = pd.read_csv('balling_summary.csv')
bowling_df.head()

,Unnamed: 0,match,bowling_team,BOWLING,O,M,R,W,ECON,0s,4s,6s,WD,NB,match_id
0,0,Namibia VS Sri Lanka,Namibia,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0,T20I # 1823
1,1,Namibia VS Sri Lanka,Namibia,"14.2 to D Wiese, Big appeal for caught behind,...","14.2 to D Wiese, Big appeal for caught behind,...","14.2 to D Wiese, Big appeal for caught behind,...","14.2 to D Wiese, Big appeal for caught behind,...","14.2 to D Wiese, Big appeal for caught behind,...","14.2 to D Wiese, Big appeal for caught behind,...","14.2 to D Wiese, Big appeal for caught behind,...","14.2 to D Wiese, Big appeal for caught behind,...","14.2 to D Wiese, Big appeal for caught behind,...","14.2 to D Wiese, Big appeal for caught behind,...","14.2 to D Wiese, Big appeal for caught behind,...",T20I # 1823
2,2,Namibia VS Sri Lanka,Namibia,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0,T20I # 1823
3,3,Namibia VS Sri Lanka,Namibia,"1.2 to M van Lingen, Massive top-edge and Cham...","1.2 to M van Lingen, Massive top-edge and Cham...","1.2 to M van Lingen, Massive top-edge and Cham...","1.2 to M van Lingen, Massive top-edge and Cham...","1.2 to M van Lingen, Massive top-edge and Cham...","1.2 to M van Lingen, Massive top-edge and Cham...","1.2 to M van Lingen, Massive top-edge and Cham...","1.2 to M van Lingen, Massive top-edge and Cham...","1.2 to M van Lingen, Massive top-edge and Cham...","1.2 to M van Lingen, Massive top-edge and Cham...","1.2 to M van Lingen, Massive top-edge and Cham...",T20I # 1823
4,4,Namibia VS Sri Lanka,Namibia,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0,T20I # 1823

In [25]:
bowling_df = bowling_df[bowling_df['BOWLING'].str.len() < 30]

In [26]:
bowling_df.isnull().sum()

Unnamed: 0      0
match           0
bowling_team    0
BOWLING         0
O               0
M               0
R               0
W               0
ECON            0
0s              0
4s              0
6s              0
WD              0
NB              0
match_id        0
dtype: int64

In [27]:
bowling_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 812
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    500 non-null    int64
 1   match         500 non-null    object
 2   bowling_team  500 non-null    object
 3   BOWLING       500 non-null    object
 4   O             500 non-null    object
 5   M             500 non-null    object
 6   R             500 non-null    object
 7   W             500 non-null    object
 8   ECON          500 non-null    object
 9   0s            500 non-null    object
 10  4s            500 non-null    object
 11  6s            500 non-null    object
 12  WD            500 non-null    object
 13  NB            500 non-null    object
 14  match_id      500 non-null    object
dtypes: int64(1), object(14)
memory usage: 62.5+ KB

In [28]:
bowling_df1 = bowling_df.drop(columns='Unnamed: 0')
bowling_df1 = bowling_df1.reset_index(drop=True)

In [29]:
bowling_df1.head(10)

,match,bowling_team,BOWLING,O,M,R,W,ECON,0s,4s,6s,WD,NB,match_id
0,Namibia VS Sri Lanka,Namibia,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0,T20I # 1823
1,Namibia VS Sri Lanka,Namibia,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0,T20I # 1823
2,Namibia VS Sri Lanka,Namibia,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0,T20I # 1823
3,Namibia VS Sri Lanka,Namibia,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0,T20I # 1823
4,Namibia VS Sri Lanka,Namibia,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0,T20I # 1823
5,Namibia VS Sri Lanka,Sri Lanka,Gerhard Erasmus,1,0,8,0,8.00,1,1,0,0,0,T20I # 1823
6,Namibia VS Sri Lanka,Sri Lanka,David Wiese,4,0,16,2,4.00,13,1,0,0,0,T20I # 1823
7,Namibia VS Sri Lanka,Sri Lanka,Bernard Scholtz,4,0,18,2,4.50,10,1,0,0,0,T20I # 1823
8,Namibia VS Sri Lanka,Sri Lanka,Ben Shikongo,3,1,22,2,7.33,6,3,0,0,0,T20I # 1823
9,Namibia VS Sri Lanka,Sri Lanka,JJ Smit,3,0,16,1,5.33,7,0,0,1,0,T20I # 1823

In [30]:
bowling_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   match         500 non-null    object
 1   bowling_team  500 non-null    object
 2   BOWLING       500 non-null    object
 3   O             500 non-null    object
 4   M             500 non-null    object
 5   R             500 non-null    object
 6   W             500 non-null    object
 7   ECON          500 non-null    object
 8   0s            500 non-null    object
 9   4s            500 non-null    object
 10  6s            500 non-null    object
 11  WD            500 non-null    object
 12  NB            500 non-null    object
 13  match_id      500 non-null    object
dtypes: object(14)
memory usage: 54.8+ KB

In [31]:
player_df = pd.read_csv('players_detail.csv')
player_df.head(40)

,Unnamed: 0.1,Unnamed: 0,Full Name,Born,Age,Batting Style,Bowling Style,Playing Role,Education,Team,image_link,Fielding Position,Also Known As,Nicknames,Other,Height
0,0,0,Morawakage Maheesh Theekshana,"August 01, 2000, Colombo",22y 139d,Right hand Bat,Right arm Offbreak,Bowler,"St. Benedict's College, Colombo",Sri Lanka,https://wassets.hscicdn.com/static/images/lazy...,NaN,NaN,NaN,NaN,NaN
1,1,1,Anrich Arno Nortje,16-Nov-93,29y 32d,Right hand Bat,Right arm Fast,Bowler,NaN,South Africa,"https://img1.hscicdn.com/image/upload/f_auto,t...",NaN,NaN,NaN,NaN,NaN
2,2,2,Christopher Nicholas Greaves,12-Oct-90,32y 67d,Right hand Bat,Legbreak,Bowler,NaN,Scotland,"https://img1.hscicdn.com/image/upload/f_auto,t...",NaN,NaN,NaN,NaN,NaN
3,3,3,Ashton Charles Agar,"October 14, 1993, Melbourne, Victoria",29y 65d,Left hand Bat,Slow Left arm Orthodox,Bowler,NaN,Australia,"https://img1.hscicdn.com/image/upload/f_auto,t...",NaN,NaN,NaN,NaN,NaN
4,4,4,Milton Shumba,"October 19, 2000, Chitungwiza",22y 60d,Left hand Bat,Slow Left arm Orthodox,Top order Batter,NaN,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN
5,5,5,Henry George Munsey,"February 21, 1993, Oxford",29y 300d,Left hand Bat,Right arm Medium fast,Opening Batter,NaN,Scotland,"https://img1.hscicdn.com/image/upload/f_auto,t...",NaN,NaN,NaN,NaN,NaN
6,6,6,Tristan Stubbs,14-Aug-00,22y 126d,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,Knysna Primary School,South Africa,"https://img1.hscicdn.com/image/upload/f_auto,t...",Wicketkeeper,NaN,NaN,NaN,NaN
7,7,7,Mujeeb Ur Rahman,"March 28, 2001, Khost",21y 265d,Right hand Bat,Right arm Offbreak,Bowler,NaN,Afghanistan,"https://img1.hscicdn.com/image/upload/f_auto,t...",NaN,Mujeeb Zadran,NaN,NaN,NaN
8,8,8,Lachlan Hammond Ferguson,"June 13, 1991, Auckland",31y 188d,Right hand Bat,Right arm Fast,Bowler,NaN,New Zealand,"https://img1.hscicdn.com/image/upload/f_auto,t...",NaN,NaN,Lockie,NaN,NaN
9,9,9,Andrew John Pycroft,"June 06, 1956, Salisbury (now Harare)",66y 195d,Right hand Bat,Right arm Offbreak,NaN,NaN,Rhodesia,"https://img1.hscicdn.com/image/upload/f_auto,t...",NaN,NaN,NaN,"Referee, Coach",NaN
10,10,10,Craig Richard Ervine,"August 19, 1985, Harare",37y 121d,Left hand Bat,Right arm Offbreak,Middle order Batter,NaN,Zimbabwe,https://wassets.hscicdn.com/static/images/lazy...,NaN,NaN,NaN,NaN,NaN
11,11,11,Muhammad Waseem,12-Feb-94,28y 309d,Right hand Bat,Right arm Medium,Opening Batter,NaN,United Arab Emirates,"https://img1.hscicdn.com/image/upload/f_auto,t...",NaN,NaN,NaN,NaN,NaN
12,12,12,Adam Zampa,"March 31, 1992, Shellharbour, New South Wales",30y 262d,Right hand Bat,Legbreak Googly,Bowler,NaN,Australia,"https://img1.hscicdn.com/image/upload/f_auto,t...",NaN,NaN,NaN,NaN,NaN
13,13,13,Karthik Palaniapan Meiyappan,"October 08, 2000, Chennai, India",22y 71d,Right hand Bat,Legbreak,Bowler,NaN,United Arab Emirates,"https://img1.hscicdn.com/image/upload/f_auto,t...",NaN,NaN,NaN,NaN,NaN
14,14,14,Chandrasekara Arachchilage Kasun Rajitha,"June 01, 1993, Matara",29y 200d,Right hand Bat,Right arm Medium fast,Bowler,St. Servatius College,Sri Lanka,"https://img1.hscicdn.com/image/upload/f_auto,t...",NaN,NaN,NaN,NaN,NaN
15,15,15,Paul Ronald Reiffel,"April 19, 1966, Box Hill, Victoria",56y 243d,Right hand Bat,Right arm Fast medium,Bowler,NaN,Australia,"https://img1.hscicdn.com/image/upload/f_auto,t...",NaN,NaN,Pistol,Umpire,NaN
16,16,16,Vikramjit Singh,"January 09, 2003, Cheema Khurd, Punjab",19y 343d,Left hand Bat,Right arm Medium fast,Opening Batter,NaN,Netherlands,NaN,NaN,NaN,NaN,NaN,NaN
17,17,17,Zawar Farid,"July 25, 1992, Sahiwal",30y 146d,Right hand Bat,Right arm Medium,Bowler,NaN,United Arab Emirates,"https://img1.hscicdn.com/image/upload/f_auto,t...",NaN,NaN,NaN,NaN,NaN
18,18,18,Benjamin Andrew Stokes,"June 04, 1991, Christchurch, Canterbury, New Z...",31y 197d,Left hand Bat,Right arm Fast medium,Allrounder,NaN,England,"https://img1.hscicdn.com/image/upload/f_auto,t...",NaN,NaN,NaN,NaN,NaN
19,19,19,Najmul Hossain Shanto,"August 25, 1998, Rajshahi",24y 115d,Left hand Bat,Right arm Offbreak,Top order Batter,NaN,Bangladesh,"https://img1.hscicdn.com/image/upload/f_auto,t...",NaN,NaN,NaN,NaN,NaN
20,20,20,Barry John McCarthy,13-Sep-92,30y 96d,Right hand Bat,Right arm Fast medium,Bowler,NaN,Ireland,"https://img1.hscicdn.com/image/upload/f_auto,t...",NaN,NaN,NaN,NaN,NaN
21,21,21,Rahmanullah Gurbaz,28-Nov-01,21y 20d,Right hand Bat,NaN,Wicketkeeper Batter,NaN,Afghanistan,"https://img1.hscicdn.com/image/upload/f_auto,t...",Wicketkeeper,NaN,NaN,NaN,NaN
22,22,22,Rodney James Tucker,"August 28, 1964, Auburn, Sydney, New South Wales",58y 112d,Left hand Bat,Right arm Medium,NaN,NaN,Australian Capital Territory,"https://img1.hscicdn.com/image/upload/f_auto,t...",NaN,NaN,NaN,Umpire,NaN
23,23,23,Azmatullah Omarzai,24-Mar-00,22y 269d,Right hand Bat,Right arm Medium fast,Allrounder,NaN,Afghanistan,"https://img1.hscicdn.com/image/upload/f_auto,t...",NaN,NaN,NaN,NaN,NaN
24,24,24,Ahmed Raza,"October 10, 1988, Sharjah",34y 69d,Right hand Bat,Slow Left arm Orthodox,Bowler,NaN,United Arab Emirates,"https://img1.hscicdn.com/image/upload/f_auto,t...",NaN,NaN,NaN,NaN,NaN
25,25,25,Jason Omar Holder,"November 05, 1991, Barbados",31y 43d,Right hand Bat,Right arm Medium fast,Bowling Allrounder,NaN,West Indies,"https://img1.hscicdn.com/image/upload/f_auto,t...",NaN,NaN,NaN,NaN,NaN
26,26,26,David Wiese,"May 18, 1985, Roodepoort",37y 214d,Right hand Bat,Right arm Medium fast,Allrounder,Witbank High,Namibia,"https://img1.hscicdn.com/image/upload/f_auto,t...",NaN,NaN,NaN,NaN,NaN
27,27,27,Samuel Matthew Curran,"June 03, 1998, Northampton",24y 198d,Left hand Bat,Left arm Medium fast,Allrounder,Wellington College,England,"https://img1.hscicdn.com/image/upload/f_auto,t...",NaN,NaN,NaN,NaN,NaN
28,28,28,Joseph Charles Buttler,"September 08, 1990, Taunton, Somerset",32y 101d,Right hand Bat,NaN,Wicketkeeper Batter,NaN,England,"https://img1.hscicdn.com/image/upload/f_auto,t...",Wicketkeeper,NaN,NaN,NaN,NaN
29,29,29,Qais Ahmad Kamawal,"August 15, 2000, Nangarhar",22y 125d,Right hand Bat,Legbreak,Bowler,NaN,Afghanistan,"https://img1.hscicdn.com/image/upload/f_auto,t...",NaN,NaN,NaN,NaN,NaN
30,30,30,Ranjan Senerath Madugalle,"April 22, 1959, Kandy",63y 240d,Right hand Bat,Right arm Offbreak,Middle order Batter,NaN,Sri Lanka,https://wassets.hscicdn.com/static/images/lazy...,NaN,NaN,NaN,Referee,NaN
31,31,31,Luke Mafuwa Jongwe,"February 06, 1995, Harare",27y 315d,Right hand Bat,Right arm Fast medium,Bowler,NaN,Zimbabwe,"https://img1.hscicdn.com/image/upload/f_auto,t...",NaN,NaN,NaN,NaN,NaN
32,32,32,Ruben Trumpelmann,"February 01, 1998, Durban",24y 320d,Right hand Bat,Left arm Fast,Bowler,Afrikaans Hoer Skool,Namibia,"https://img1.hscicdn.com/image/upload/f_auto,t...",NaN,NaN,NaN,NaN,NaN
33,33,33,Ahsan Raza,"May 29, 1974, Lahore, Punjab",48y 203d,Right hand Bat,NaN,NaN,NaN,Faisalabad,"https://img1.hscicdn.com/image/upload/f_auto,t...",Wicketkeeper,NaN,NaN,Umpire,NaN
34,34,34,Iftikhar Ahmed,"September 03, 1990, Peshawar, North-West Front...",32y 106d,Right hand Bat,Right arm Offbreak,Middle order Batter,NaN,Pakistan,https://wassets.hscicdn.com/static/images/lazy...,NaN,NaN,NaN,NaN,NaN
35,35,35,Asif Ali,"October 01, 1991, Faisalabad, Punjab",31y 78d,Right hand Bat,Right arm Offbreak,Middle order Batter,NaN,Pakistan,"https://img1.hscicdn.com/image/upload/f_auto,t...",NaN,NaN,NaN,NaN,NaN
36,36,36,Tabraiz Shamsi,"February 18, 1990, Johannesburg, Gauteng",32y 303d,Right hand Bat,Left arm Wrist spin,Bowler,NaN,South Africa,"https://img1.hscicdn.com/image/upload/f_auto,t...",NaN,NaN,NaN,NaN,NaN
37,37,37,Zane Edward Green,"October 11, 1996, Namibia",26y 68d,Left hand Bat,NaN,Wicketkeeper Batter,Windhoek High School,Namibia,"https://img1.hscicdn.com/image/upload/f_auto,t...",Wicketkeeper,NaN,NaN,NaN,NaN
38,38,38,Andrew Balbirnie,"December 28, 1990, Dublin, Ireland",31y 355d,Right hand Bat,Right arm Offbreak,Batter,"St Andrew's College, Dublin",Ireland,"https://img1.hscicdn.com/image/upload/f_auto,t...",Occasional Wicketkeeper,NaN,NaN,NaN,NaN
39,39,39,Lungisani True-man Ngidi,"March 29, 1996, Durban, Natal",26y 264d,Right hand Bat,Right arm Fast medium,Bowler,NaN,South Africa,"https://img1.hscicdn.com/image/upload/f_auto,t...",NaN,NaN,NaN,NaN,NaN

In [32]:
player_df['Playing Role'].unique()

array(['Bowler', 'Top order Batter', 'Opening Batter',
       'Wicketkeeper Batter', nan, 'Middle order Batter', 'Allrounder',
       'Bowling Allrounder', 'Batter', 'Batting Allrounder',
       'Wicketkeeper'], dtype=object)

In [33]:
player_df1 = player_df[player_df['Playing Role'].notnull()]

In [34]:
player_df1 = player_df1.drop(columns=['Unnamed: 0.1','Unnamed: 0', 'Fielding Position','Also Known As', 'Nicknames','Other','Height', 'Education','Age'])

In [35]:
player_df1

,Full Name,Born,Batting Style,Bowling Style,Playing Role,Team,image_link
0,Morawakage Maheesh Theekshana,"August 01, 2000, Colombo",Right hand Bat,Right arm Offbreak,Bowler,Sri Lanka,https://wassets.hscicdn.com/static/images/lazy...
1,Anrich Arno Nortje,16-Nov-93,Right hand Bat,Right arm Fast,Bowler,South Africa,"https://img1.hscicdn.com/image/upload/f_auto,t..."
2,Christopher Nicholas Greaves,12-Oct-90,Right hand Bat,Legbreak,Bowler,Scotland,"https://img1.hscicdn.com/image/upload/f_auto,t..."
3,Ashton Charles Agar,"October 14, 1993, Melbourne, Victoria",Left hand Bat,Slow Left arm Orthodox,Bowler,Australia,"https://img1.hscicdn.com/image/upload/f_auto,t..."
4,Milton Shumba,"October 19, 2000, Chitungwiza",Left hand Bat,Slow Left arm Orthodox,Top order Batter,Zimbabwe,NaN
...,...,...,...,...,...,...,...
240,Johnson Charles,"January 14, 1989, St Lucia",Right hand Bat,NaN,Wicketkeeper Batter,West Indies,"https://img1.hscicdn.com/image/upload/f_auto,t..."
241,Mark Robert James Watt,"July 29, 1996, Eastern General Hospital, Edinb...",Left hand Bat,Slow Left arm Orthodox,Bowler,Scotland,"https://img1.hscicdn.com/image/upload/f_auto,t..."
242,Sikandar Raza Butt,"April 24, 1986, Sialkot, Punjab, Pakistan",Right hand Bat,Right arm Offbreak,Batting Allrounder,Zimbabwe,"https://img1.hscicdn.com/image/upload/f_auto,t..."
243,Daryl Joseph Mitchell,"May 20, 1991, Hamilton",Right hand Bat,Right arm Medium,Allrounder,New Zealand,"https://img1.hscicdn.com/image/upload/f_auto,t..."
244,Bhuvneshwar Kumar Singh,"February 05, 1990, Meerut, Uttar Pradesh",Right hand Bat,Right arm Medium,Bowler,India,"https://img1.hscicdn.com/image/upload/f_auto,t..."

In [36]:
player_df1.query("`Bowling Style`.isnull()")

,Full Name,Born,Batting Style,Bowling Style,Playing Role,Team,image_link
21,Rahmanullah Gurbaz,28-Nov-01,Right hand Bat,NaN,Wicketkeeper Batter,Afghanistan,"https://img1.hscicdn.com/image/upload/f_auto,t..."
28,Joseph Charles Buttler,"September 08, 1990, Taunton, Somerset",Right hand Bat,NaN,Wicketkeeper Batter,England,"https://img1.hscicdn.com/image/upload/f_auto,t..."
37,Zane Edward Green,"October 11, 1996, Namibia",Left hand Bat,NaN,Wicketkeeper Batter,Namibia,"https://img1.hscicdn.com/image/upload/f_auto,t..."
52,Brandon Alexander King,"December 16, 1994, Kingston, Jamaica",Right hand Bat,NaN,Top order Batter,West Indies,https://wassets.hscicdn.com/static/images/lazy...
53,Quazi Nurul Hasan,"November 21, 1993, Khulna",Right hand Bat,NaN,Wicketkeeper Batter,Bangladesh,"https://img1.hscicdn.com/image/upload/f_auto,t..."
62,Evin Lewis,"December 27, 1991, Port of Spain, Trinidad",Left hand Bat,NaN,Opening Batter,West Indies,https://wassets.hscicdn.com/static/images/lazy...
70,Quinton de Kock,"December 17, 1992, Johannesburg, Gauteng",Left hand Bat,NaN,Wicketkeeper Batter,South Africa,"https://img1.hscicdn.com/image/upload/f_auto,t..."
74,Lorcan John Tucker,"September 10, 1996, Dublin",Right hand Bat,NaN,Wicketkeeper Batter,Ireland,"https://img1.hscicdn.com/image/upload/f_auto,t..."
80,Mohammad Rizwan,"June 01, 1992, Peshawar, Khyber Pakhtunkhwa",Right hand Bat,NaN,Wicketkeeper Batter,Pakistan,"https://img1.hscicdn.com/image/upload/f_auto,t..."
83,Matthew Henry Cross,"October 15, 1992, Aberdeen",Right hand Bat,NaN,Wicketkeeper Batter,Scotland,"https://img1.hscicdn.com/image/upload/f_auto,t..."
84,Finnley Hugh Allen,"April 22, 1999, Auckland",Right hand Bat,NaN,Top order Batter,New Zealand,"https://img1.hscicdn.com/image/upload/f_auto,t..."
87,Kannaur Lokesh Rahul,"April 18, 1992, Bangalore, Karnataka",Right hand Bat,NaN,Opening Batter,India,https://wassets.hscicdn.com/static/images/lazy...
94,Rishabh Rajendra Pant,"October 04, 1997, Haridwar, Uttarakhand",Left hand Bat,NaN,Wicketkeeper Batter,India,"https://img1.hscicdn.com/image/upload/f_auto,t..."
126,Haider Ali,"October 02, 2000, Attock",Right hand Bat,NaN,Middle order Batter,Pakistan,"https://img1.hscicdn.com/image/upload/f_auto,t..."
129,Scott Andrew Edwards,"August 23, 1996, Tonga",Right hand Bat,NaN,Wicketkeeper Batter,Netherlands,"https://img1.hscicdn.com/image/upload/f_auto,t..."
135,Usman Ghani,20-Nov-96,Right hand Bat,NaN,Opening Batter,Afghanistan,https://wassets.hscicdn.com/static/images/lazy...
139,Pathum Nissanka Silva,"May 18, 1998, Galle",Right hand Bat,NaN,Top order Batter,Sri Lanka,"https://img1.hscicdn.com/image/upload/f_auto,t..."
179,Vriitya Aravind,"June 11, 2002, Chennai, India",Right hand Bat,NaN,Wicketkeeper,United Arab Emirates XI,"https://img1.hscicdn.com/image/upload/f_auto,t..."
240,Johnson Charles,"January 14, 1989, St Lucia",Right hand Bat,NaN,Wicketkeeper Batter,West Indies,"https://img1.hscicdn.com/image/upload/f_auto,t..."

In [37]:
player_df1['Team'].unique()

array(['Sri Lanka', 'South Africa', 'Scotland', 'Australia', 'Zimbabwe',
       'Afghanistan', 'New Zealand', 'United Arab Emirates',
       'Netherlands', 'England', 'Bangladesh', 'Ireland', 'West Indies',
       'Namibia', 'Pakistan', 'India', 'United Arab Emirates XI'],
      dtype=object)

In [38]:
nan_url = 'https://drive.google.com/uc?export=view&id=1ExW9SW72zMaLijJHbfmPF3lbFF_dQC-m'
player_df1['image_link'] = player_df1['image_link'].fillna(nan_url)

In [39]:
player_df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 231 entries, 0 to 244
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Full Name      231 non-null    object
 1   Born           231 non-null    object
 2   Batting Style  231 non-null    object
 3   Bowling Style  212 non-null    object
 4   Playing Role   231 non-null    object
 5   Team           231 non-null    object
 6   image_link     231 non-null    object
dtypes: object(7)
memory usage: 14.4+ KB

In [46]:
import os
def create_artifacts():
    path = os.path.abspath('data_cleaning.ipynb')
    index = path.find('datacollection')
    dir_path = path[:index]+'dashboard\\cleanedData\\'
    print(dir_path)
    
    if not os.path.exists(dir_path):
        os.makedirs(dir_path)
        
    match_df.to_csv(dir_path+'match_result.csv')
    new_df.to_csv(dir_path+'batting_summary.csv')
    bowling_df1.to_csv(dir_path+'bowling_summary.csv')
    player_df1.to_csv(dir_path+'player_details.csv')

In [47]:
create_artifacts()

D:\CODING\Personal projects\Cricket Analysis\dashboard\cleanedData\

In [ ]:
import os
path = os.path.abspath('data_cleaning.ipynb')
path.find('Personal projects')